<div class="container">
    <h1>Consulta Mesas</h1>
    <form [formGroup]="GrupoMesa" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="id">DPI</label>
        <input type="text" class="form-control" formControlName="id" required>
      </div>
  
      <button type="submit" class="btn btn-success">Consultar</button>
  
    </form>
  </div>
  <div class="container">
      <h3 style="text-decoration:underline">{{titulo_lista}}</h3>
    <div *ngIf="unaMesa;then oneBlock else listBlock"></div>
    
    <ng-template #listBlock>
      <div *ngIf="mostrarMesas">
        <table class="table">
          <tr>
            <th>ID</th>
            <th>Número de mesa</th>
            <th>Nulos</th>
            <th>Blancos</th>
          </tr>
          <tr *ngFor="let mesa of mesas">
            <td>{{mesa.idMesa}}</td>
            <td>{{mesa.numMesa}}</td>
            <td>{{mesa.cantNulos}}</td>
            <td>{{mesa.cantBlancos}}</td>
          </tr>
        </table>
      </div>
    </ng-template>
  
    <ng-template #oneBlock>
      <div *ngIf="mostrarMesas">
        <div>
        <h3></h3>
        <!--<ul>
          <li>Id: {{mesas.idMesa}}</li>
          <li>Numero de mesa: <span style="font-weight: bold">{{mesas.numMesa}}</span></li>
          <li><span>cantidad de nulos: {{mesas.cantNulos}}</span></li>
          <li><span>cantidad de blancos: {{mesas.cantBlancos}}</span></li>
        </ul>
        <div style="width: 215px">
          <div style="margin-right:auto;padding: 5px; width: 100px; display: inline-block">
            <button (click)="onModify()" class="btn btn-secundary">Modificar</button>
          </div>
          <div style="margin-right:auto; padding:5px; width:100px; display:inline-block">
            <button (click)="onDelete()" class="btn btn-primary">Borrar</button>
          </div>
        </div>-->
        </div>
        <div><span>{{resultado}}</span></div>
      </div>
    </ng-template>
  </div>