<div class="container">
  <h1>Consulta Centros</h1>
  <form [formGroup]="GrupoCentro" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="dpi">ID</label>
      <input type="text" class="form-control" formControlName="id" required>
    </div>

    <button type="submit" class="btn btn-success">Consultar</button>

  </form>
</div>
<div class="container">
  <h3 style="text-decoration:underline">{{titulo_lista}}</h3>
  <div *ngIf="unCentro;then oneBlock else listBlock"></div>
  
  <ng-template #listBlock>
    <div *ngIf="mostrarCentros">
      <li *ngFor="let centro of centros">
      <span style="font-weight: bold">{{centro.nombre}}</span>
      </li>
    </div>
  </ng-template>

  <ng-template #oneBlock>
    <div *ngIf="mostrarCentros">
      <span><span style="font-weight: bold">{{centros.nombre}}</span></span>
      <ul>
        <li><span>direccion: {{centros.direccion}}</span></li>
        <li><span>municipio: {{centros.municipio}}</span></li>
      </ul>
      <div style="width: 215px">
        <div style="margin-right:auto;padding: 5px; width: 100px; display: inline-block">
          <button (click)="onModify()" class="btn btn-secundary">Modificar</button>
        </div>
        <div style="margin-right:auto; padding:5px; width:100px; display:inline-block">
          <button (click)="onDelete()" class="btn btn-primary">Borrar</button>
        </div>
      </div>
      <div><span>{{resultado}}</span></div>
    </div>
  </ng-template>
</div>